<configuration>

    <!-- 공통 콘솔 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[BOOKIE] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- dev용 Loki -->
    <springProfile name="dev">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://211.188.51.135:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=movie-bookie,host=${HOSTNAME},level=%level,env=dev</pattern>
                </label>
                <message>
                    <pattern>[BOOKIE] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <!-- prod용 Loki -->
    <springProfile name="prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://211.188.51.135:3101/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=movie-bookie,host=${HOSTNAME},level=%level,env=prod</pattern>
                </label>
                <message>
                    <pattern>[BOOKIE] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <!-- 그 외 환경은 콘솔만 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
