<configuration>

    <!-- 콘솔에도 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[BOOKIE] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loki 전용 appender -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://211.188.51.135:3100/loki/api/v1/push</url>
        </http>

        <format>
            <label>
                <pattern>app=movie-bookie,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>[BOOKIE] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </message>
        </format>
    </appender>

    <!-- 배포 환경(prod)일 때만 LOKI와 CONSOLE을 활성화 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="LOKI"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- prod 프로필이 아닐 때(로컬 등)는 CONSOLE만 활성화 -->
    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>